---
import { Icon } from 'astro-icon/components'; // If you use astro-icon, else swap out for an SVG inline.
---

<a href="/" class="fixed left-6 top-6 text-skin-hue" aria-label="Back to home">
  <Icon
    name="mdi:arrow-left-circle"
    class="text-4xl transition-transform duration-200 group-hover:text-6xl"
  />
</a>
