---
import Section from "@/components/Section.astro";
import photoPNG from "@/assets/photo.png?url";
import photoJP2 from "@/assets/photo.jp2?url";
---

<Section>
  <div class={`absolute w-full h-full flex items-center justify-center`}>
    <picture class={"w-2/3 rounded-full dark:mix-blend-lighten"}>
      <source
        srcset={photoJP2}
        type="image/jp2"
        class={"rounded-full dark:mix-blend-lighten"}
      />
      <img
        src={photoPNG}
        alt="Photo"
        class={" rounded-full dark:mix-blend-lighten"}
      />
    </picture>
  </div>

  <svg
    class={`text-skin-hue bg-skin-fill rounded-full w-full`}
    fill="transparent"
    viewBox="0 0 506 506"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle
      cx="253"
      cy="253"
      r="250"
      stroke="currentColor"
      stroke-width="4"
      stroke-linecap="round"
      stroke-linejoin="round"></circle>
  </svg>
</Section>
