---
import Section from "@/components/Section.astro";
import photoPNG from "@/assets/photo.png?url";
import photoWebp from "@/assets/photo.webp?url";
import { basics } from "@cv";

const { firstname } = basics;
---

<Section>
  <div class="absolute flex h-full w-full items-center justify-center">
    <picture class="fade-in w-10/12 opacity-0 dark:mix-blend-lighten">
      <source srcset={photoWebp} type="image/webp" class={"rounded-full"} />
      <img src={photoPNG} alt={firstname} class="rounded-full" />
    </picture>
  </div>

  <svg
    class="w-full rounded-full bg-skin-fill text-skin-hue"
    fill="transparent"
    viewBox="0 0 506 506"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle
      cx="253"
      cy="253"
      r="250"
      stroke="currentColor"
      stroke-width="4"
      stroke-linecap="round"
      stroke-linejoin="round"></circle>
  </svg>
</Section>

<style>
  .fade-in {
    animation: fade-in 0.5s ease-in-out forwards;
    animation-delay: 0.5s;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
