---
const { className, title } = Astro.props;
---

<section id={title} class:list={['flex flex-col gap-4', className]}>
  {
    title && (
      <h3 class="relative flex w-full items-center gap-3 pb-4 text-3xl">
        {title}
      </h3>
    )
  }
  <slot />
</section>
