---
const { className, title, subtitle } = Astro.props;
---

<section id={title} class:list={['flex flex-col gap-4', className]}>
  {title && <h3 class="relative flex w-full items-center text-3xl">{title}</h3>}
  {subtitle && <h4 class="mb-4 px-1 text-lg text-skin-hue">{subtitle}</h4>}
  <slot />
</section>
